@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    color: rgb(250, 79, 79);
    font-size: 30px;
}

h3 {
    color: white;
    font-size: xx-large;
    margin: 5px;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

body {
    background-color: black;
}

img {
    margin-left: 22%;
    cursor: pointer;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.containerTitle {
    display: grid;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 10% ;
    margin-top: 10%;
}

h1 {
    font-size: 50px;
}

p {
    color: white;
    font-size: large;
    font-weight: 500;
    margin: 20px;
}

.paragrafh {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 342px;
    height: 74px;
    border-radius: 14px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.884);
    font-size: xx-large;
      padding: 20px;
      font-weight: 600;
}

.input::placeholder {
    font-size: xx-large;
    font-weight: 700;
    margin-left: 29%;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

button {
    width:342px;
    height: 72px;
    border-radius: 10px;
    background-color: rgba(174, 195, 70, 1);
    color: white;
    font-weight: 700;
    font-size: xx-large;
    border: none;
    padding-bottom: 10px;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

button:active {
    width: 344px;
    height: 73px;
    opacity: 0.7;
}